* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --border-radius: 10px;
}

body {
    background-color: hsl(233, 47%, 7%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: var(--border-radius);
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.card .img-wrapper {
    background-color: hsl(277, 84%, 27%);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    margin-bottom: 1.5rem;
}

.card .img {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    display: block;
    width: 100%;
    opacity: .5;
}

.card .header {
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    margin-bottom: .75rem;
}

.card .text-wrapper {
    margin: 20px;
}

.card .violet-span {
    color: hsl(277, 64%, 61%);
}

.card .paragraph {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter';
    line-height: 1.5rem;
    font-weight: 400;
    margin: 0.75rem;
}

.card .number-header {
    color: white;
    font-family: 'Inter';
    font-weight: 700;
}

.card .stats-paragraph { 
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca';
}

.card .stat {
    margin: 2rem;
}

.stats-paragraph {
    margin-top: .5rem;
}

.paragraph {
    font-size: 15px;
}

.stats-paragraph {
    letter-spacing: 1px;
    font-size: 12px;
}

@media (min-width: 1000px) {
    .card {
        flex-direction: row;
        margin: auto 100px;
        column-gap: 20px;
    }

    .card .img-wrapper {
        flex-basis: 50%;
        order: 2;
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
        margin-bottom: 0;
    }

    .card .img {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
        height: 100%;
    }

    .card .information {
        text-align: left;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .card .text-wrapper {
        margin-bottom: 0;
    }

    .card .statistics {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .card .paragraph {
        margin: 0;
    }
}